In [13]:
import pandas as pd
df = pd.read_excel(r"C:\Users\dell\Downloads\Book 8.xlsx")
print(df)

         DAY  TEMPERATURE  WINDSPEED  EVENT
0 2024-01-01           32          6   Rain
1 2024-01-02           35          7  Sunny
2 2024-01-03           28          2   Snow
3 2024-01-04           24          7   Snow
4 2024-01-05           32          4   Rain
5 2024-01-06           32          2  Sunny

In [14]:
df.shape

(6, 4)

In [15]:
df.tail()

         DAY  TEMPERATURE  WINDSPEED  EVENT
1 2024-01-02           35          7  Sunny
2 2024-01-03           28          2   Snow
3 2024-01-04           24          7   Snow
4 2024-01-05           32          4   Rain
5 2024-01-06           32          2  Sunny

In [17]:
df.describe()

                       DAY  TEMPERATURE  WINDSPEED
count                    6     6.000000   6.000000
mean   2024-01-03 12:00:00    30.500000   4.666667
min    2024-01-01 00:00:00    24.000000   2.000000
25%    2024-01-02 06:00:00    29.000000   2.500000
50%    2024-01-03 12:00:00    32.000000   5.000000
75%    2024-01-04 18:00:00    32.000000   6.750000
max    2024-01-06 00:00:00    35.000000   7.000000
std                    NaN     3.885872   2.338090

In [18]:
df.tail(1)

         DAY  TEMPERATURE  WINDSPEED  EVENT
5 2024-01-06           32          2  Sunny

In [19]:
df.head(3)

         DAY  TEMPERATURE  WINDSPEED  EVENT
0 2024-01-01           32          6   Rain
1 2024-01-02           35          7  Sunny
2 2024-01-03           28          2   Snow

In [23]:
df[3:5]

         DAY  TEMPERATURE  WINDSPEED EVENT
3 2024-01-04           24          7  Snow
4 2024-01-05           32          4  Rain

In [24]:
df.columns

Index(['DAY', 'TEMPERATURE', 'WINDSPEED', 'EVENT'], dtype='object')

In [26]:
df.DAY

0   2024-01-01
1   2024-01-02
2   2024-01-03
3   2024-01-04
4   2024-01-05
5   2024-01-06
Name: DAY, dtype: datetime64[ns]

In [27]:
df.EVENT

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: EVENT, dtype: object

In [28]:
df.columns

Index(['DAY', 'TEMPERATURE', 'WINDSPEED', 'EVENT'], dtype='object')

In [29]:
df[2:4]

         DAY  TEMPERATURE  WINDSPEED EVENT
2 2024-01-03           28          2  Snow
3 2024-01-04           24          7  Snow

In [31]:
df["TEMPERATURE"].max()

35

In [32]:
df["TEMPERATURE"].min()

24

In [33]:
df['DAY'][df["EVENT"]=="Snow"]

2   2024-01-03
3   2024-01-04
Name: DAY, dtype: datetime64[ns]

IF WE WANT TO KNOW ON WHICH DAY THERE WAS A RAIN

In [34]:
df["DAY"][df["EVENT"]=="Rain"]

0   2024-01-01
4   2024-01-05
Name: DAY, dtype: datetime64[ns]

In [35]:
df

         DAY  TEMPERATURE  WINDSPEED  EVENT
0 2024-01-01           32          6   Rain
1 2024-01-02           35          7  Sunny
2 2024-01-03           28          2   Snow
3 2024-01-04           24          7   Snow
4 2024-01-05           32          4   Rain
5 2024-01-06           32          2  Sunny

In [39]:
type(df['EVENT'])

pandas.core.series.Series

If we want to print just few coloumns

In [40]:
df[["EVENT","TEMPERATURE"]]

   EVENT  TEMPERATURE
0   Rain           32
1  Sunny           35
2   Snow           28
3   Snow           24
4   Rain           32
5  Sunny           32

In [41]:
df

         DAY  TEMPERATURE  WINDSPEED  EVENT
0 2024-01-01           32          6   Rain
1 2024-01-02           35          7  Sunny
2 2024-01-03           28          2   Snow
3 2024-01-04           24          7   Snow
4 2024-01-05           32          4   Rain
5 2024-01-06           32          2  Sunny

In [43]:
df[['WINDSPEED','EVENT']]

   WINDSPEED  EVENT
0          6   Rain
1          7  Sunny
2          2   Snow
3          7   Snow
4          4   Rain
5          2  Sunny

In [48]:
df[df.TEMPERATURE>=32]

         DAY  TEMPERATURE  WINDSPEED  EVENT
0 2024-01-01           32          6   Rain
1 2024-01-02           35          7  Sunny
4 2024-01-05           32          4   Rain
5 2024-01-06           32          2  Sunny

In [49]:
df[df.TEMPERATURE==32]

         DAY  TEMPERATURE  WINDSPEED  EVENT
0 2024-01-01           32          6   Rain
4 2024-01-05           32          4   Rain
5 2024-01-06           32          2  Sunny

In [52]:
df[df.TEMPERATURE==df.TEMPERATURE.max()]

         DAY  TEMPERATURE  WINDSPEED  EVENT
1 2024-01-02           35          7  Sunny

In [53]:
df[df.TEMPERATURE==df.TEMPERATURE.min()]

         DAY  TEMPERATURE  WINDSPEED EVENT
3 2024-01-04           24          7  Snow

In [54]:
df[df.WINDSPEED<=4]

         DAY  TEMPERATURE  WINDSPEED  EVENT
2 2024-01-03           28          2   Snow
4 2024-01-05           32          4   Rain
5 2024-01-06           32          2  Sunny

In [56]:
df[df.WINDSPEED==7]

         DAY  TEMPERATURE  WINDSPEED  EVENT
1 2024-01-02           35          7  Sunny
3 2024-01-04           24          7   Snow

In [61]:
df[df.WINDSPEED==df.WINDSPEED.max()]

         DAY  TEMPERATURE  WINDSPEED  EVENT
1 2024-01-02           35          7  Sunny
3 2024-01-04           24          7   Snow

In [72]:
df[["DAY", "WINDSPEED"]][df.TEMPERATURE==df.TEMPERATURE.min()]

         DAY  WINDSPEED
3 2024-01-04          7